# **P A N D A S**

In [ ]:
import numpy as np
import pandas as pd

**S E R I E S**

In [ ]:

#To convert a list, numpy array or dictionary to a series
labels= ['a', 'b', 'c']
list=[10,20,30]
arr=np.arange(0,11)
dict = {'a':10, 'b':20, 'c':30}

In [ ]:
pd.Series(data=list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=list, index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(list,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
arr1=np.arange(1,4)
pd.Series(arr1)

0    1
1    2
2    3
dtype: int64

In [ ]:
arr1=np.arange(1,4)
pd.Series(arr1,labels)

a    1
b    2
c    3
dtype: int64

In [ ]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

Using an index

In [ ]:
ser1= pd.Series([1,2,5,4],['USA','Germany','Italy','UK'])

In [ ]:
ser2= pd.Series([1,6,2],['Germany','Bahrain','UK'])

In [ ]:
ser1 + ser2

Bahrain    NaN
Germany    3.0
Italy      NaN
UK         6.0
USA        NaN
dtype: float64

**DATA FRAMES**

Collection of a number os series

In [ ]:
from numpy.random import randn #Generate some random numbers
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(),columns='W X Y Z'.split())

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Selection and Indexing**

In [ ]:
df['Z'] #Pass any column

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [ ]:
df[['W','Z']] #Pass a list of column names

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
df['NEW'] = df['W'] + df['Y'] #Adding a new column to the frame

In [ ]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [ ]:
df.drop('NEW')

KeyError: ignored

In [ ]:
df.drop('NEW',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [ ]:
df.drop('NEW',axis=1,inplace=True)

In [ ]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df.drop('A')

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df['A']

KeyError: ignored

In [ ]:
df.loc['A'] #Inorder to specify rows, use loc

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [ ]:
df.loc[0]

KeyError: ignored

In [ ]:
df.iloc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

**Selecting subset of rows and columns**

In [ ]:
df.loc['B','Y']

0.16690463609281317

In [ ]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

**Conditional Selection**

In [ ]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df>0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [ ]:
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [ ]:
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [ ]:
df['W']>0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [ ]:
df[df['W']>0][Y]

NameError: ignored

In [ ]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [ ]:
df[df['W']>0][['Y','X','Z']]

          Y         X         Z
A -1.706086  1.693723 -1.159119
C  0.638787  0.072960  0.329646

In [ ]:
df[(df['W']>0) & (df['Z']>0)]

          W        X         Y         Z
C  0.807706  0.07296  0.638787  0.329646

In [ ]:
df[(df['W']>0) | (df['Z']>0)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444], 'col3':['abc','def','ghi','jkl']})

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl

Selecting Data

Applying Functions

In [ ]:
def times2(x):
  return x*2

In [ ]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col1'].sum()

10

In [ ]:
del df['col3']

In [ ]:
df

   col1  col2
0     1   444
1     2   555
2     3   666
3     4   444


Get column and index names

In [ ]:
df.columns
Index(['col2','col3'], dtype='object')

NameError: ignored

In [ ]:
df.sort_values(by='col2')

   col1  col2
0     1   444
3     4   444
1     2   555
2     3   666

In [ ]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df

   col1  col2
0     1   444
1     2   555
2     3   666
3     4   444

In [ ]:
df.sort_values(by='col2',inplace=True)

In [ ]:
df

   col1  col2
0     1   444
3     4   444
1     2   555
2     3   666

In [ ]:
df.isnull()

    col1   col2
0  False  False
3  False  False
1  False  False
2  False  False